<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-site-heading" data-cy="SiteCreateUpdateHeading" jhiTranslate="jhipsterMfeApplicationApp.site.home.createOrEditLabel">
        Create or edit a Site
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.site.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.site.siteType" for="field_siteType">Site Type</label>
          <select class="form-control" name="siteType" formControlName="siteType" id="field_siteType" data-cy="siteType">
            <option [ngValue]="null">{{ 'jhipsterMfeApplicationApp.SiteType.null' | translate }}</option>
            <option *ngFor="let siteType of siteTypeValues" [value]="siteType">
              {{ 'jhipsterMfeApplicationApp.SiteType.' + siteType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('siteType')!.invalid && (editForm.get('siteType')!.dirty || editForm.get('siteType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('siteType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.site.osType" for="field_osType">Os Type</label>
          <select class="form-control" name="osType" formControlName="osType" id="field_osType" data-cy="osType">
            <option [ngValue]="null">{{ 'jhipsterMfeApplicationApp.OsType.null' | translate }}</option>
            <option *ngFor="let osType of osTypeValues" [value]="osType">
              {{ 'jhipsterMfeApplicationApp.OsType.' + osType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.site.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.site.creationDate" for="field_creationDate"
            >Creation Date</label
          >
          <div class="input-group">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="text"
              class="form-control"
              name="creationDate"
              ngbDatepicker
              #creationDateDp="ngbDatepicker"
              formControlName="creationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="editForm.get('creationDate')!.invalid && (editForm.get('creationDate')!.dirty || editForm.get('creationDate')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('creationDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.site.lastUpdated" for="field_lastUpdated">Last Updated</label>
          <div class="input-group">
            <input
              id="field_lastUpdated"
              data-cy="lastUpdated"
              type="text"
              class="form-control"
              name="lastUpdated"
              ngbDatepicker
              #lastUpdatedDp="ngbDatepicker"
              formControlName="lastUpdated"
            />
            <button type="button" class="btn btn-secondary" (click)="lastUpdatedDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div *ngIf="editForm.get('lastUpdated')!.invalid && (editForm.get('lastUpdated')!.dirty || editForm.get('lastUpdated')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastUpdated')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.site.buildState" for="field_buildState">Build State</label>
          <select class="form-control" name="buildState" formControlName="buildState" id="field_buildState" data-cy="buildState">
            <option [ngValue]="null">{{ 'jhipsterMfeApplicationApp.BuildState.null' | translate }}</option>
            <option *ngFor="let buildState of buildStateValues" [value]="buildState">
              {{ 'jhipsterMfeApplicationApp.BuildState.' + buildState | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.site.buildCount" for="field_buildCount">Build Count</label>
          <input
            type="number"
            class="form-control"
            name="buildCount"
            id="field_buildCount"
            data-cy="buildCount"
            formControlName="buildCount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.site.buildComment" for="field_buildComment"
            >Build Comment</label
          >
          <input
            type="text"
            class="form-control"
            name="buildComment"
            id="field_buildComment"
            data-cy="buildComment"
            formControlName="buildComment"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.site.businessUnit" for="field_businessUnit"
            >Business Unit</label
          >
          <select class="form-control" id="field_businessUnit" data-cy="businessUnit" name="businessUnit" formControlName="businessUnit">
            <option *ngIf="!editForm.get('businessUnit')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                businessUnitOption.id === editForm.get('businessUnit')!.value?.id ? editForm.get('businessUnit')!.value : businessUnitOption
              "
              *ngFor="let businessUnitOption of businessUnitsSharedCollection; trackBy: trackBusinessUnitById"
            >
              {{ businessUnitOption.code }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['businessUnit'])!.invalid && (editForm.get(['businessUnit'])!.dirty || editForm.get(['businessUnit'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['businessUnit'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
