<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-x-prot-heading" data-cy="XProtCreateUpdateHeading" jhiTranslate="jhipsterMfeApplicationApp.xProt.home.createOrEditLabel">
        Create or edit a X Prot
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.xProt.xprotType" for="field_xprotType">Xprot Type</label>
          <select class="form-control" name="xprotType" formControlName="xprotType" id="field_xprotType" data-cy="xprotType">
            <option [ngValue]="null">{{ 'jhipsterMfeApplicationApp.XProtType.null' | translate }}</option>
            <option *ngFor="let xProtType of xProtTypeValues" [value]="xProtType">
              {{ 'jhipsterMfeApplicationApp.XProtType.' + xProtType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('xprotType')!.invalid && (editForm.get('xprotType')!.dirty || editForm.get('xprotType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('xprotType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.xProt.xRole" for="field_xRole">X Role</label>
          <select class="form-control" name="xRole" formControlName="xRole" id="field_xRole" data-cy="xRole">
            <option [ngValue]="null">{{ 'jhipsterMfeApplicationApp.XRole.null' | translate }}</option>
            <option *ngFor="let xRole of xRoleValues" [value]="xRole">{{ 'jhipsterMfeApplicationApp.XRole.' + xRole | translate }}</option>
          </select>
          <div *ngIf="editForm.get('xRole')!.invalid && (editForm.get('xRole')!.dirty || editForm.get('xRole')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('xRole')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.xProt.comment" for="field_comment">Comment</label>
          <input type="text" class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.xProt.accessAddress" for="field_accessAddress"
            >Access Address</label
          >
          <input
            type="text"
            class="form-control"
            name="accessAddress"
            id="field_accessAddress"
            data-cy="accessAddress"
            formControlName="accessAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.xProt.accessServicePoint" for="field_accessServicePoint"
            >Access Service Point</label
          >
          <input
            type="number"
            class="form-control"
            name="accessServicePoint"
            id="field_accessServicePoint"
            data-cy="accessServicePoint"
            formControlName="accessServicePoint"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.xProt.creationDate" for="field_creationDate"
            >Creation Date</label
          >
          <div class="input-group">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="text"
              class="form-control"
              name="creationDate"
              ngbDatepicker
              #creationDateDp="ngbDatepicker"
              formControlName="creationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="editForm.get('creationDate')!.invalid && (editForm.get('creationDate')!.dirty || editForm.get('creationDate')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('creationDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.xProt.lastUpdated" for="field_lastUpdated">Last Updated</label>
          <div class="input-group">
            <input
              id="field_lastUpdated"
              data-cy="lastUpdated"
              type="text"
              class="form-control"
              name="lastUpdated"
              ngbDatepicker
              #lastUpdatedDp="ngbDatepicker"
              formControlName="lastUpdated"
            />
            <button type="button" class="btn btn-secondary" (click)="lastUpdatedDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div *ngIf="editForm.get('lastUpdated')!.invalid && (editForm.get('lastUpdated')!.dirty || editForm.get('lastUpdated')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastUpdated')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.xProt.buildState" for="field_buildState">Build State</label>
          <select class="form-control" name="buildState" formControlName="buildState" id="field_buildState" data-cy="buildState">
            <option [ngValue]="null">{{ 'jhipsterMfeApplicationApp.BuildState.null' | translate }}</option>
            <option *ngFor="let buildState of buildStateValues" [value]="buildState">
              {{ 'jhipsterMfeApplicationApp.BuildState.' + buildState | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.xProt.buildCount" for="field_buildCount">Build Count</label>
          <input
            type="number"
            class="form-control"
            name="buildCount"
            id="field_buildCount"
            data-cy="buildCount"
            formControlName="buildCount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.xProt.buildComment" for="field_buildComment"
            >Build Comment</label
          >
          <input
            type="text"
            class="form-control"
            name="buildComment"
            id="field_buildComment"
            data-cy="buildComment"
            formControlName="buildComment"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterMfeApplicationApp.xProt.onNode" for="field_onNode">On Node</label>
          <select class="form-control" id="field_onNode" data-cy="onNode" name="onNode" formControlName="onNode">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="siteOption.id === editForm.get('onNode')!.value?.id ? editForm.get('onNode')!.value : siteOption"
              *ngFor="let siteOption of sitesSharedCollection; trackBy: trackSiteById"
            >
              {{ siteOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
