<div>
  <h2 id="page-heading" data-cy="UserAccountHeading">
    <span jhiTranslate="jhipsterMfeApplicationApp.userAccount.home.title">User Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterMfeApplicationApp.userAccount.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-account"
        [routerLink]="['/user-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterMfeApplicationApp.userAccount.home.createLabel"> Create a new User Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userAccounts?.length === 0">
    <span jhiTranslate="jhipsterMfeApplicationApp.userAccount.home.notFound">No userAccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userAccounts && userAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accountType">
            <span jhiTranslate="jhipsterMfeApplicationApp.userAccount.accountType">Account Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="jhipsterMfeApplicationApp.userAccount.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <span jhiTranslate="jhipsterMfeApplicationApp.userAccount.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdated">
            <span jhiTranslate="jhipsterMfeApplicationApp.userAccount.lastUpdated">Last Updated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="jhipsterMfeApplicationApp.userAccount.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let userAccount of userAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-account', userAccount.id, 'view']">{{ userAccount.id }}</a>
          </td>
          <td jhiTranslate="{{ 'jhipsterMfeApplicationApp.AccountType.' + userAccount.accountType }}">{{ userAccount.accountType }}</td>
          <td>{{ userAccount.comment }}</td>
          <td>{{ userAccount.creationDate | formatMediumDate }}</td>
          <td>{{ userAccount.lastUpdated | formatMediumDate }}</td>
          <td>
            {{ userAccount.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-account', userAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-account', userAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
