<div>
  <h2 id="page-heading" data-cy="SiteHeading">
    <span jhiTranslate="jhipsterMfeApplicationApp.site.home.title">Sites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterMfeApplicationApp.site.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-site"
        [routerLink]="['/site/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterMfeApplicationApp.site.home.createLabel"> Create a new Site </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sites?.length === 0">
    <span jhiTranslate="jhipsterMfeApplicationApp.site.home.notFound">No sites found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sites && sites.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="siteType">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.siteType">Site Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdated">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.lastUpdated">Last Updated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="buildState">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.buildState">Build State</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="buildCount">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.buildCount">Build Count</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="buildComment">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.buildComment">Build Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="businessUnit.code">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.businessUnit">Business Unit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let site of sites; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/site', site.id, 'view']">{{ site.id }}</a>
          </td>
          <td>{{ site.name }}</td>
          <td jhiTranslate="{{ 'jhipsterMfeApplicationApp.SiteType.' + site.siteType }}">{{ site.siteType }}</td>
          <td>{{ site.description }}</td>
          <td>{{ site.creationDate | formatMediumDate }}</td>
          <td>{{ site.lastUpdated | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'jhipsterMfeApplicationApp.BuildState.' + site.buildState }}">{{ site.buildState }}</td>
          <td>{{ site.buildCount }}</td>
          <td>{{ site.buildComment }}</td>
          <td>
            <div *ngIf="site.businessUnit">
              <a [routerLink]="['/business-unit', site.businessUnit?.id, 'view']">{{ site.businessUnit?.code }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/site', site.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/site', site.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(site)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sites && sites.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
