<div>
  <h2 id="page-heading" data-cy="SiteHeading">
    <span jhiTranslate="jhipsterMfeApplicationApp.site.home.title">Sites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterMfeApplicationApp.site.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-site"
        [routerLink]="['/site/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterMfeApplicationApp.site.home.createLabel"> Create a new Site </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sites?.length === 0">
    <span jhiTranslate="jhipsterMfeApplicationApp.site.home.notFound">No sites found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sites && sites.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sitetype">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.sitetype">Sitetype</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sitenode">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.sitenode">Sitenode</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creationdate">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.creationdate">Creationdate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastupdated">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.lastupdated">Lastupdated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="buildstate">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.buildstate">Buildstate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="buildcount">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.buildcount">Buildcount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="buildcomment">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.buildcomment">Buildcomment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="businessunit.code">
            <span jhiTranslate="jhipsterMfeApplicationApp.site.businessunit">Businessunit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let site of sites; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/site', site.id, 'view']">{{ site.id }}</a>
          </td>
          <td>{{ site.name }}</td>
          <td jhiTranslate="{{ 'jhipsterMfeApplicationApp.Sitetype.' + site.sitetype }}">{{ site.sitetype }}</td>
          <td>{{ site.description }}</td>
          <td>{{ site.sitenode }}</td>
          <td>{{ site.creationdate | formatMediumDate }}</td>
          <td>{{ site.lastupdated | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'jhipsterMfeApplicationApp.Buildstate.' + site.buildstate }}">{{ site.buildstate }}</td>
          <td>{{ site.buildcount }}</td>
          <td>{{ site.buildcomment }}</td>
          <td>
            <div *ngIf="site.businessunit">
              <a [routerLink]="['/businessunit', site.businessunit?.id, 'view']">{{ site.businessunit?.code }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/site', site.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/site', site.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(site)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sites && sites.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
