<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="businessUnit">
      <h2 data-cy="businessUnitDetailsHeading">
        <span jhiTranslate="jhipsterMfeApplicationApp.businessUnit.detail.title">Business Unit</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ businessUnit.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterMfeApplicationApp.businessUnit.code">Code</span></dt>
        <dd>
          <span>{{ businessUnit.code }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterMfeApplicationApp.businessUnit.name">Name</span></dt>
        <dd>
          <span>{{ businessUnit.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterMfeApplicationApp.businessUnit.description">Description</span></dt>
        <dd>
          <span>{{ businessUnit.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/business-unit', businessUnit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
