<div>
  <h2 id="page-heading" data-cy="UseraccountHeading">
    <span jhiTranslate="jhipsterMfeApplicationApp.useraccount.home.title">Useraccounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterMfeApplicationApp.useraccount.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-useraccount"
        [routerLink]="['/useraccount/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterMfeApplicationApp.useraccount.home.createLabel"> Create a new Useraccount </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="useraccounts?.length === 0">
    <span jhiTranslate="jhipsterMfeApplicationApp.useraccount.home.notFound">No useraccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="useraccounts && useraccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accounttype">
            <span jhiTranslate="jhipsterMfeApplicationApp.useraccount.accounttype">Accounttype</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="jhipsterMfeApplicationApp.useraccount.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creationdate">
            <span jhiTranslate="jhipsterMfeApplicationApp.useraccount.creationdate">Creationdate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastupdated">
            <span jhiTranslate="jhipsterMfeApplicationApp.useraccount.lastupdated">Lastupdated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="jhipsterMfeApplicationApp.useraccount.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let useraccount of useraccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/useraccount', useraccount.id, 'view']">{{ useraccount.id }}</a>
          </td>
          <td jhiTranslate="{{ 'jhipsterMfeApplicationApp.Accounttype.' + useraccount.accounttype }}">{{ useraccount.accounttype }}</td>
          <td>{{ useraccount.comment }}</td>
          <td>{{ useraccount.creationdate | formatMediumDate }}</td>
          <td>{{ useraccount.lastupdated | formatMediumDate }}</td>
          <td>
            {{ useraccount.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/useraccount', useraccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/useraccount', useraccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(useraccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
